[Unit]
Description=Check repowatch nginx parameters for changes

[Timer]
OnBootSec=15s
OnUnitInactiveSec=15s
AccuracySec=1s

[Install]
WantedBy=timers.target
